{% load crispy_forms_tags %}

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Detalles del Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_event' %}" id="eventForm">
                    {% csrf_token %}
                    {{ form | crispy }}
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar Evento</button>
                        <a id="btnDelete" href="#" type="submit" class="btn btn-danger" style="display:none"> Eliminar Evento</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>